<div class="content">
  <div class="main-content">
    <h2>👨‍💻 About Me</h2>

    <p>
      Hello! My name is Zach Brown and I am a passionate software engineer with a keen interest in building simple,
      scalable, 🔥<i>blazingly fast</i>🔥 solutions to complex problems. I specialize in developing robust cloud-hosted
      technologies and user-friendly Web/Desktop applications. I am always looking to learn new technologies, most recently I
      have been mastering <a href="https://dotnet.microsoft.com/en-us/apps/maui">.NET MAUI</a>, a native, cross-platform
      desktop and mobile application development framework. I enjoy collaborating with others when creating software as
      I feel like good ideas really come alive in groups and bad ideas <i>typically</i> are discarded. Outside of coding,
      I enjoy weightlifting, playing video games, and going on hikes with my girlfriend.
    </p>

    <div class="actions">
      <app-resume-download-button/>
      <app-github-button/>
      <app-linkedin-button/>
    </div>
  </div>
  <img ngSrc="profile_picture.jpeg" alt="Zach Brown" width="300" height="300"/>
</div>
