@use '@angular/material' as mat;

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: inherit;
}

.icon {
  width: 24px;
  fill: var(--mat-toolbar-container-text-color, var(--mat-app-on-surface));
}

mat-toolbar a {
  text-decoration: none;
}
