@use '@angular/material' as mat;

@mixin my-comp-theme($theme) {
  :host {
    font: mat.get-theme-typography($theme, body-large, font);
    letter-spacing: mat.get-theme-typography($theme, body-large, letter-spacing);
    background: mat.get-theme-color($theme, surface);
    @if mat.get-theme-type($theme) == dark {
      color: mat.get-theme-color($theme, primary, 20);
    } @else {
      color: mat.get-theme-color($theme, primary, 80);
    }
    padding: 48px + (2px * mat.get-theme-density($theme));
  }
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: inherit;
}

.icon {
  width: 24px;
  fill: var(--mat-toolbar-container-text-color, var(--mat-app-on-surface));
}

mat-toolbar a {
  text-decoration: none;
}
