@use '../../theme' as theme;
@use '@angular/material' as mat;

$primary-default: mat.get-theme-color(theme.$dark-theme, primary, default);

:host {
  display: block;
  min-height: 300px;
  aspect-ratio: 2 / 3;
}

.card-wrapper,
.card {
  width: 100%;
  height: 100%;
}

.card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  perspective: 2500px;
}

.cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-background,
.image-wrapper {
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.card-background {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: $primary-default;
}


.card:hover .card-background,
.card:hover .image-wrapper {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.card-background::before,
.image-wrapper::before,
.card-background::after,
.image-wrapper::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
}

.card-background::before,
.image-wrapper::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(
      to top,
      transparent 46%,
      rgba(12, 13, 19, 0.5) 68%,
      rgba(12, 13, 19) 97%
  );
}

.card-background::after,
.image-wrapper::after {
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient(
      to bottom,
      transparent 46%,
      rgba(12, 13, 19, 0.5) 68%,
      rgba(12, 13, 19) 97%
  );
}

.card:hover .card-background::before,
.card:hover .image-wrapper::before,
.card-background::after,
.image-wrapper::after {
  opacity: 1;
}

.card:hover .card-background::after,
.card:hover .image-wrapper::after {
  height: 120px;
}
.title {
  width: 100%;
  transition: transform 0.5s;
}
.card:hover .title {
  transform: translate3d(0%, -50px, 100px);
}

.overlay {
  width: 100%;
  font-size: 2rem;
  text-align: center;
  color: white;
  margin-bottom: 2rem;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  z-index: -1;
}

.card:hover .overlay {
  opacity: 1;
  transform: translate3d(0%, -30%, 100px);
}
