
main {
  padding: 16px;
  margin-inline: auto;
  max-width: 1200px;
  overflow: auto;
}

h1,
h2,
h3,
p {
  margin: 0;
}

section {
  margin-block: 16px;
}

section > *:not(:first-child) {
  margin-top: 1rem;
}

section > *:not(:last-child) {
  margin-bottom: 1rem;
}

.video-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

video {
  max-width: min(100%, 720px);
}

.taprx-image-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;

  gap: 16px;
}

img {
  max-width: 100%;
  height: auto;
}
