<app-toolbar></app-toolbar>

<main>
  <section>
    <h2>👨‍💻 About Me</h2>
    <p>
      Hello! I’m a passionate software engineer with a keen interest in building simple, scalable, 🔥<i>blazingly fast</i>🔥
      solutions to complex problems. I specialize in developing robust cloud-hosted APIs and user-friendly Web/Desktop
      applications. I am always looking to learn new technologies, most recently I have been mastering
      <a href="https://dotnet.microsoft.com/en-us/apps/maui">.NET MAUI</a>, a native, cross-platform desktop and mobile
      application development framework. I enjoy collaborating with others when creating software as I feel like good ideas
      really come alive in groups and bad ideas <i>typically</i> are discarded. Outside of coding, I enjoy weightlifting,
      playing video games, and going on hikes with my girlfriend.
    </p>
    <div class="image-wrapper">
      <img class="profile-picture" src="profile_picture.jpg" alt="Picture of Zach" />
    </div>
    <div class="actions">
      <app-resume-download-button />
    </div>
  </section>

  <section>
  <h2>🚀 Project Showcase</h2>
  <h3>💊 TapRx</h3>
  <h3>🧑‍⚕️ Illumica</h3>
  </section>

  <section>
    <h2>💻 Skills & Technologies</h2>
    <ul>
      <li>
        Application Development
        <ul>
          <li>C#</li>
          <li>.NET MAUI</li>
          <li>C/C++</li>
        </ul>
      </li>
      <li>
        Web Development
        <ul>
          <li>Angular</li>
          <li>Node.js + Typescript</li>
          <li>Tensorflow (for Pose Estimation)</li>
          <li>Auth0</li>
          <li>AWS</li>
          <li>Nodemailer</li>
          <li>MariaDB</li>
          <li>MongoDB</li>
          <li>GitHub Actions</li>
        </ul>
      </li>
    </ul>
  </section>

  <section>
    <h2>🏢 Experience</h2>
    <ul>
      <li>Inseer</li>
      <li>Illumica</li>
      <li>Herzog</li>
    </ul>
  </section>

  <section>
    <h2>🎓 Education</h2>
    <ul>
      <li>Bachelors of Computer Science (2020-2024)</li>
      <li>Masters of Computer Science (Coming Soon)</li>
    </ul>
  </section>

  <section>
    <h2>Technologies</h2>
    <p>(These ones are my favorite)</p>
    <app-technologies-carousel></app-technologies-carousel>
  </section>
</main>

<app-footer></app-footer>
