<app-toolbar></app-toolbar>

<main>
  <section>
    <h2>👨‍💻 About Me</h2>
    <p>
      Hello! I’m a passionate software engineer with a keen interest in building simple, scalable, 🔥<i>blazingly
      fast</i>🔥 solutions to complex problems. I specialize in developing robust cloud-hosted APIs and user-friendly
      Web/Desktop applications. I am always looking to learn new technologies, most recently I have been mastering <a
      href="https://dotnet.microsoft.com/en-us/apps/maui">.NET MAUI</a>, a native, cross-platform desktop and mobile
      application development framework. I enjoy collaborating with others when creating software as I feel like good
      ideas really come alive in groups and bad ideas <i>typically</i> are discarded. Outside of coding, I enjoy
      weightlifting, playing video games, and going on hikes with my girlfriend.
    </p>
    <div class="image-wrapper">
      <img class="profile-picture" src="profile_picture.jpg" alt="Picture of Zach"/>
    </div>
    <div class="actions">
      <app-resume-download-button/>
    </div>
  </section>

  <section>
    <h2>💻 Skills & Technologies</h2>
    <h3>👑 My Favorites</h3>
    <app-technologies-carousel></app-technologies-carousel>
    <h3>👍 Everything Else</h3>
    <ul>
      <li>
        Application Development
        <ul>
          <li>C#</li>
          <li>.NET MAUI</li>
          <li>C/C++</li>
        </ul>
      </li>
      <li>
        Web Development
        <ul>
          <li>Tensorflow (for Pose Estimation)</li>
          <li>Auth0</li>
          <li>Nodemailer</li>
          <li>MariaDB</li>
          <li>MongoDB</li>
        </ul>
      </li>
    </ul>
  </section>

  <section>
    <h2>🏢 Experience</h2>
    <ul>
      <li>Inseer - Software Engineering Intern (April 2022 - October 2023)</li>
      <li>Illumica - Software Engineer; Founder (October 2023 - Present)</li>
      <li>Herzog - Software Engineer I (May 2024 - Present)</li>
    </ul>
  </section>

  <section>
    <h2>🎓 Education</h2>
    <ul>
      <li>Bachelors of Computer Science &#64; University of Missouri (2020-2024)</li>
      <li>Masters of Computer Science (Coming Soon)</li>
    </ul>
  </section>

  <section>
    <h2>🚀 Project Showcase</h2>
    <section>
      <h3>📹 Real-time Post Estimation Pipeline</h3>
      <p>[Description here]</p>
      <div class="video-wrapper">
        <video autoplay muted loop>
          <source src="pose_estimation.mp4" type="video/mp4" />
          <source src="pose_estimation.webm" type="video/webm" />
        </video>
      </div>
    </section>

    <section>
      <h3>💊 Medication Logging Application</h3>
      <p>[Description here]</p>
      <div class="taprx-image-wrapper">
        <img src="TapRx_2.png" alt="Picture of TapRx Medication List"/>
        <img src="TapRx_1.png" alt="Picture of TapRx Dashboard"/>
        <img src="TapRx_3.png" alt="Picture of TapRx Schedule"/>
      </div>
    </section>

    <section>
      <h3>🧑‍⚕️ Illumica</h3>
      <p>[Description here]</p>
      <p>[Images of dashboard, pose estimation, analytics]</p>
    </section>
  </section>

  <section>
    <h2>🧨 Hot Takes</h2>
    <ul>
      <li>Agile is overrated, and most companies are doing it wrong.</li>
      <li>All software engineers should spend time learning design principles.</li>
      <li>OOP is great, but a foot-gun to new developers.</li>
      <li>Too many developers over-engineer their solutions because it makes them feel smarter.</li>
      <li>The 10x engineer is a myth, and teamwork always beats individual brilliance.</li>
    </ul>
  </section>

  <section>
    <h2>🧘 Words of Wisdom</h2>
    <ul>
      <li>Simplicity is the ultimate sophistication.</li>
      <li>Perfection is the enemy of progress.</li>
      <li>Stay curious. Keep building.</li>
      <li>Embrace failure as a step toward mastery.</li>
    </ul>
  </section>
</main>

<app-footer></app-footer>
