
main {
  padding: 16px;
  margin-inline: auto;
  max-width: 1200px;
  overflow: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
p {
  margin: 0;
}

section {
  margin-block: 16px;
}

section > *:not(:first-child) {
  margin-top: 1rem;
}

section > *:not(:last-child) {
  margin-bottom: 1rem;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}

.image-wrapper {
  text-align: center;
}

.profile-picture {
  max-width: min(300px, 100%);
  max-height: min(300px, 100%);
}

.video-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

video {
  max-width: min(100%, 720px);
}

.taprx-image-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;

  gap: 16px;
}
