
main {
  padding: 16px;
  margin-inline: auto;
  max-width: 1200px;
  overflow: auto;
}

section {
  margin-block: 48px;
}

section > section {
  margin-block: 32px;
}

.video-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

video {
  max-width: min(100%, 720px);
}

.taprx-image-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;

  gap: 16px;
}

img {
  max-width: 100%;
  height: auto;
}
