<app-toolbar></app-toolbar>

<main>
  <section>
    <app-about-me/>
  </section>


  <section>
    <h2>💻 Skills & Technologies</h2>
    <h3>👑 My Favorites</h3>
    <app-technologies-carousel></app-technologies-carousel>
    <h3>👍 Everything Else</h3>
    <ul>
      <li>
        Application Development
        <ul>
          <li>C#</li>
          <li>.NET MAUI</li>
          <li>C/C++</li>
        </ul>
      </li>
      <li>
        Web Development
        <ul>
          <li>Tensorflow (for Pose Estimation)</li>
          <li>Auth0</li>
          <li>Nodemailer</li>
          <li>MariaDB</li>
          <li>MongoDB</li>
        </ul>
      </li>
    </ul>
  </section>

  <section>
    <h2>🏢 Experience</h2>
    <ul>
      <li>Inseer - Software Engineering Intern (April 2022 - October 2023)</li>
      <li>Illumica - Software Engineer; Founder (October 2023 - Present)</li>
      <li>Herzog - Software Engineer I (May 2024 - Present)</li>
    </ul>
  </section>

  <section>
    <h2>🎓 Education</h2>
    <ul>
      <li>Bachelors of Computer Science &#64; University of Missouri (2020-2024)</li>
      <li>Masters of Computer Science (Coming Soon)</li>
    </ul>
  </section>

  <section>
    <h2>🚀 Project Showcase</h2>
    <section>
      <h3>📹 Real-time Pose Estimation Pipeline</h3>
      <p>
        I constructed my own realtime pose estimation pipeline using CV fundamentals and Tensorflow. The pipeline was able
        to detect and track human poses in real-time using a webcam feed. The pipeline was built using a custom-trained
        PoseNet model and was able to detect multiple poses simultaneously. The resulting poses were then rendered on the
        webcam feed in real-time.
      </p>
      <div class="video-wrapper">
        <video autoplay muted loop preload="metadata">
          <source src="pose_estimation.mp4" type="video/mp4" />
          <source src="pose_estimation.webm" type="video/webm" />
        </video>
      </div>
    </section>

    <section>
      <h3>💊 Medication Logging Application</h3>
      <p>
        I developed a medication logging iOS application called TapRx. TapRx was designed to help users keep track of their
        medications and when they should take them. The application featured a medication list, a schedule, and a dashboard
        to help users visualize their medication intake. The frontend was built using Swift and SwiftUI, while the backend
        was built using Flask and Firebase.
      </p>
      <div class="taprx-image-wrapper">
        <img src="TapRx_2.png" alt="TapRx Medication List"/>
        <img src="TapRx_1.png" alt="TapRx Dashboard"/>
        <img src="TapRx_3.png" alt="TapRx Schedule"/>
      </div>
    </section>

    <section>
      <h3>🧑‍⚕️ Illumica</h3>
      <p>
        As a founder of Illumica, I have been working on a healthcare analytics platform that helps healthcare providers
        visualize and analyze their patient data. The platform features a dashboard, a pose estimation pipeline, and
        analytics tools to help healthcare providers make informed decisions about their patients. The platform is built
        using Angular, Node.js, and MariaDB.
      </p>
      <div>
        <img src="illumica-dashboard.png" alt="Illumica Dashboard"/>
      </div>
    </section>
  </section>

  <section>
    <h2>🧨 Hot Takes</h2>
    <ul>
      <li>Agile is inefficient and wastes developer time.</li>
      <li>OOP is great, but a foot-gun to new developers.</li>
      <li>Many developers over-engineer their solutions because it makes them feel smarter.</li>
      <li>The 10x engineer is a myth, and teamwork always beats individual brilliance.</li>
    </ul>
  </section>

  <section>
    <h2>🧘 Words of Wisdom</h2>
    <ul>
      <li>Simplicity is the ultimate sophistication.</li>
      <li>Perfection is the enemy of progress.</li>
      <li>Stay curious. Keep building.</li>
      <li>Embrace failure as a step toward mastery.</li>
    </ul>
  </section>
</main>

<app-footer></app-footer>
