:host {
  display: block;
  width: 100%;
  overflow-x: auto;
}

.carousel {
  width: fit-content;
  padding-bottom: 64px;
  padding-inline: 32px;

  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
