
<div class="carousel">
  <app-technologies-card src="https://aws.amazon.com/" title="AWS">
    <fa-icon [icon]="faAws" size="8x" />
  </app-technologies-card>
  <app-technologies-card src="https://angular.dev/" title="Angular">
    <fa-icon [icon]="faAngular" size="8x" />
  </app-technologies-card>
  <app-technologies-card src="https://nodejs.org/" title="Node.js">
    <fa-icon [icon]="faNodeJs" size="8x" />
  </app-technologies-card>
  <app-technologies-card src="https://www.github.com/" title="GH Actions">
    <fa-icon [icon]="faGithubSquare" size="8x" />
  </app-technologies-card>
  <app-technologies-card src="https://www.python.org/" title="Python">
    <fa-icon [icon]="faPython" size="8x" />
  </app-technologies-card>
</div>
