@use '@angular/material' as mat;
@use 'theme' as theme;

@include mat.core();

html {
  @include mat.core-theme(theme.$dark-theme);
  @include mat.all-component-themes(theme.$dark-theme);
}

@media(prefers-color-scheme: light) {
  @include mat.core-color(theme.$light-theme);
  @include mat.all-component-colors(theme.$light-theme);
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  font-size: 1rem;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.4rem;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
